<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TimberlineLooper.Properties.Settings.CDSConnString"
            connectionString="Provider=VFPOLEDB.1;Data Source=\\CDSDATA\Vol1\CDS\DATABASE"
            providerName="System.Data.OleDb" />
        <add name="TimberlineLooper.Properties.Settings.DP2ConnString"
            connectionString="Data Source=isaserver;Initial Catalog=DP2;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="TimberlineLooper.Properties.Settings.TimberlineConnString"
            connectionString="Data Source=isaserver;Initial Catalog=Timberline;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>